# ======================================================
# ROS 2
# ======================================================

build/
install/
log/

# ======================================================
# Python
# ======================================================

__pycache__/
*.pyc

# ======================================================
# VS Code
# ======================================================

.vscode/

# ======================================================
# CLion
# ======================================================

.idea/

# ======================================================
# Linux
# ======================================================

*~
*.swp

# ======================================================
# Docker
# ======================================================

docker/*.log

# ======================================================
# Gazebo
# ======================================================

*.state

# ======================================================
# PX4
# ======================================================

*.ulg
*.bag

# ======================================================
# Temporary Files
# ======================================================

tmp/
.cache/
